.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    padding: 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.button {
    display: flex;
    justify-content: end;
    padding: 0px 0px 20px 0px;
}